@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
	background-color: #323131;
	font-family: 'Titillium Web', sans-serif;
}

.App {
	padding: 2em;
	color: aliceblue;
}