@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');


body {
	margin: 0;
}

.purple-theme {
	background-color: #030224;
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column
}

.App {
	padding: 2em 2em 0 2em;
	color: aliceblue;
	flex-grow: 1
}