.background {
    position: absolute;
    top: 450px;
    left: 0;
    height: 200px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.bull {
    filter: invert(91%) sepia(84%) saturate(7225%) hue-rotate(83deg) brightness(10%) contrast(73%);
    height: 200px;
    position: absolute;
    z-index: -1;
}
