.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
}

.icon {
	width: 30px;
	background: none;
	padding: 0;
	border:none;
	cursor: pointer;
	color: inherit;
	outline: inherit;
	filter: invert(100%) sepia(60%) saturate(1676%) hue-rotate(178deg) brightness(105%) contrast(102%);
}

.hide {
	display: none;
}

.sidemenu-button-container {
	width: 100%;
}

.close-menu-button {
	width:25px;
	background: none;
	padding: 0;
	border:none;
	cursor: pointer;
	color: inherit;
	outline: inherit;
}

.open-menu-button {
	width: 30px;
	background: none;
	padding: 0;
	border:none;
	cursor: pointer;
	color: inherit;
	outline: inherit;
}

.show {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 20em;
	background-color: #C4C4C4;
	height: 80vh;
	padding: 1em;
}



/* Side menu years */

.year-nav {
	margin-top: 1em;
	border-bottom: 1px solid black;
}

.years-tab {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.year-item {
	width: 20%;
	border: 1px solid white;
	margin: 0 .1em;
}

.year-item:active {
	background-color: white;
}

.year-item a {
	color: white;
	text-decoration: none;

}

.year-item a:focus {
	color: grey;
}

.year-item button {
	margin: 0 .5em;
	background: none;
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


/* months container */
.months-not-shown {
	display: none;
}

.months-shown {
	display: inline-block;
}

.side-nav-months-container {
	padding: 20px;
}

.side-nav-month-label {
	color: black;
    font-size: 20px;
    cursor: pointer;
	display: flex;
}
.hide-checkbox {
	display: none
}
.show-drop-down {
	display: flex;
	flex-direction: row;
	width: 20%;
	margin-left: 1rem;
}

.hide-drop-down {
	display: none;
}

.add-month-icon {
	width: 15px;
	margin-left: 12px;
	background: none;
	padding: 0;
	border:none;
	cursor: pointer;
	color: inherit;
	outline: inherit;
}

/* Add Trade Form */

.close-form-button {
	width:25px;
	background: none;
	padding: 0;
	border:none;
	cursor: pointer;
	color: inherit;
	outline: inherit;
	margin-right: .7rem;
}

.show-form {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 20px;
	width: 20em;
	background-color: #C4C4C4;
	color: black;
	height: 80vh;
	padding: 1em;
}

.button-container {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}

.add-trade-form-container {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin: .5em 0;
	display: grid;
}

.form-group label{
	margin-bottom: .5em;
}

.form-button {
	margin-top: 1em;
	width: 25%;
	height: 25px;
}